.detalleItem {
    background-color: rgb(60, 60, 60);
    align-items: center;
}

.detalleItem img {
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.precio {
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 2rem;
    text-decoration: none;
}

a {
    color: rgba(29, 247, 0, 0.798)!important;
    font-size: large;
}

.col-md-6 p {
    padding-top: 2rem;
    text-align: left!important;
    
}

