.cart-widget {
    position: static;
    left: auto;
}

.navbar-brand img {
    margin-right: 1rem;
}

.navbar-brand {
    color: rgba(29, 247, 0, 0.798)!important;

}

@media (min-width: 992px) {
    .cart-widget {
        position: absolute;
        left: auto;
        right: 0;
        padding-right: 3%;
    }
}

.NavLink a {
    text-decoration: none!important;
}