.itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3%;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    background-color: #212529;
    border-radius: 25px;
    margin-top: 3rem;
}

h1 {
    margin-top: 2rem;
}

section {
    margin-top: 2rem;
    width:  15rem;
    height: auto;
    background-color: rgba(183, 181, 181, 0.303);
    border-radius: 20px;
    padding-bottom: 1rem ;
}

picture img {
    height: 10rem;
    width: 10rem;
    margin: auto;
    display: block;
}

button {
    
    background-color: rgb(91, 91, 91);
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 1px 3px 10px #000000; 

}

.info {
    font-size: x-large;

}